# Apple file system
.DS_Store

# VS Code
.vscode/

# Python
__pycache__/

# Database
*.db

# Prediction Image
ai_api/static/pred_image/*

# Service Account File
ai_api/*.json

# test app
test_app/

# model file
*.pth

# ETC
etc/